.mainContainer {
  padding: 1rem;

  min-width: 450px;
  height: auto;

  background-color: #fff;

  display: flex;

  align-items: center;
  gap: 1rem;
  flex: 1;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  border-radius: 0.7rem;
}

.infoContainer {
  display: flex;
  width: 100%;
  gap: 1rem;

  justify-content: space-between;
}

.title {
  overflow: hidden;
  white-space: nowrap;
}

.price {
  display: inherit;
  justify-self: end;
}
